@import "reset.css";


body {
    color: white;
    background-color: rgb(50,50,50);
}
a:visited {
    color: white;
}
.container {
    max-width: 700px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}